body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: #fff;
    padding: 20px;
    border: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0,0,0.1);
}

#input{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;


}
.btn{
    padding: 10px ;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


#row{
    list-style:none;
    padding: 0;
    margin-top: 20px;
}

.container li{
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container li button{
    background-color: #d9534f;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}